@import 'normalize';

body, header {
    margin: 0;
    padding:20px;
}

header {
    background-color:lightcoral;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-of-me {
    border-radius: 70%;
}

h1 {
    font-family: 'Libre Baskerville', sans-serif;
    font-style: italic;
    font-size: 3em;
    text-align: center;
    
}

.about-me {
    display:flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin:10px;
}

.contact-me {
    display:flex;
    flex-direction: column;
}

.my-portfolio {
    display:grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: 200px;
}

.page-1 p {
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
}

.page-2 p {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
}

.page-3 p {
    font-family: 'Dosis', sans-serif;
    font-size: 2em;
}

.main-menu {
    position: sticky;
    font-size: 1.5em;
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight:bold;

}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;

  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(58, 58, 58);
    color: white;
  }