@import 'normalize';

html {
    scroll-behavior: smooth;
}


body {
    background-image:url(/images/ski-backround.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin:0;
    padding:0;
    box-sizing: border-box;
    height:100%;
}

section {
    margin:1rem;
    background-color: hsla(0, 0%, 78%, 0.7);
}

header {
    background-image:url(/images/header-background.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center center;
    width:100%;
    height:100vh;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
}

.header-name-cv {
    text-shadow: 4px 4px 0px #f8eded;
    mix-blend-mode: screen;
    animation: fadeIn 2.5s linear forwards;
  }
  
  @keyframes fadeIn {
      0% {
          opacity: 0;
      }
  
      100% {
          opacity: 1;
      }
}

.main-menu {
    font-size: 1.5em;
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight:800;
    padding:10px;
}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
  }
  
  li a {
    display: block;
    color: rgba(255, 255, 255, 0.756);
    padding: 8px 16px;
    text-decoration: underline;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(40, 217, 223);
    color: white;
  }

.img-of-me {
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity:0.9;
}

h1 {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 3rem;
    text-align: center;
    position: relative;
    top:10px;
}

h2, h3, h4 {
    font-family:'Times New Roman', Times, serif;
    font-size:3rem;
    text-align:center;
}



.about-me {
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    margin:10px;
    padding:20px;
    align-items:center;
}

.my-portfolio {
    display:grid;
    padding:10px;
    grid-auto-rows: 100px;
    grid-auto-flow: dense;
    grid-auto-columns: 300px 100px;
}

.work-experience {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
}

article {
    padding:20px;
    margin:20px;
}

.page-1 p {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    color: rgba(5, 6, 5, 0.696);
}

.page-2 p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    color: rgba(5, 6, 5, 0.696);
}

.page-3 article {
    font-family: 'Dosis', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: rgba(5, 6, 5, 0.696);
}

.page-1 {
    border-radius: 50px;
    border: 5px solid #070904;
}

.page-2 {
    border-radius: 50px;
    border: 10px solid #070904;
}

.page-3 {
    border-radius: 50px;
    border: 10px solid #070904;
}

footer {
    position:relative;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}

.contact-me {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    margin:15px;
}

.top-btn {
    position:sticky;
    left:90%;
    bottom:20px;
    background-image: linear-gradient(#0dccea, #0d70ea);
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
    font-size: 1em;
    margin: 5px;
    padding: 10px 15px;
    text-align: center;
}

@media screen and (max-width: 500px) {
    h1 {
        color:#f8eded;
    }
    
    .top-btn {
    }
}